{% extends "Customerlayout.html" %}
{% block title %}Red Carpet {% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<script>
    window.onload = function(){
        document.getElementById("AmountDisplay").innerHTML = document.getElementById("AmountRange").value;
        document.getElementById("TenureDisplay").innerHTML = document.getElementById("TenureRange").value;
        calculate(12.5)
    }
</script>
<div class="container-fluid">
    <table class="table table-responsive table-striped table-hover" id="myTable">
        <thead>
            <tr>
                <th scope="col">Sl No</th>
                <th scope="col">Loan No</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Interest</th>
                <th scope="col">Tenure</th>
                <th scope="col">Status</th>
                <th scope="col">Reject Message</th>
            </tr>
        </thead>
        <tbody>
            {% for rows in data2 %}
            {% if rows.Status != "Approved" %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ rows._id }}</td>
                <td>{{ rows.Date }}</td>
                <td>{{ rows.Amount[rows.Amount | length - 1] }}</td>
                <td>{{ rows.Interest[rows.Interest | length - 1] }}</td>
                <td>{{ rows.Tenure[rows.Tenure | length - 1] }}</td>
                <td>{{ rows.Status }}</td>
                <td>{{ rows.RejectMessage[rows.RejectMessage | length - 1] }}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ rows._id }}</td>
                <td>{{ rows.Date }}</td>
                <td>{{ rows.Amount }}</td>
                <td>{{ rows.Interest }}</td>
                <td>{{ rows.Tenure }}</td>
                <td>{{ rows.Status }}</td>
                <td>{{ rows.RejectMessage }}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <div class="container-fluid">
    <center>
        <h3><strong>Calculate EMI</strong></h3>
    </center>
    <div class="row gx-3">
        <div class="col-md px-2 mb-4">
            <label for="" class="form-label">Tenure (in months)</label>
            <div class="row gx-3">
            <input type="range" class="form-range" min="6" max="60" step="1" id="TenureRange" value="12" name="TenureRange">
            <p id="TenureDisplay"></p>
            </div>
        </div>
        <script>
             var amountSlider = document.getElementById("AmountRange");
            var tenureSlider = document.getElementById("TenureRange");
            tenureSlider.oninput = function(){
                document.getElementById("TenureDisplay").innerHTML = tenureSlider.value;
                var R = setInterest(tenureSlider.value);
                calculate(R);
            }
        </script>
        <div class="col-2" style="width: 25px;"></div>
        <div class="col-md px-2 mb-4">
            <label for="" class="form-label">Amount</label>
            <div class="row">
            <input type="range" class="form-range" min="20000" max="200000" step="1000" id="AmountRange" value="110000" name="AmountRange">
            <p id="AmountDisplay"></p>
            </div>
        </div>
        <script>
            var amountSlider = document.getElementById("AmountRange");
            var tenureSlider = document.getElementById("TenureRange");
            amountSlider.oninput = function(){
                document.getElementById("AmountDisplay").innerHTML = amountSlider.value;
                var a = setInterest(tenureSlider.value);
                calculate(Number(a));
            }
        </script>
        </div>
        <div class="row">
            <div class="col">
                <p>Interest Rate : <span id="InterestRate" name="InterestRate" value="10"></span>%</p>
            </div>
            <div class="col">
                <p>Total Amount Payable : <span id="AmountPayable"></span>/-</p>
            </div>
            <div class="col">
                <p>Total Interest Payable : <span id="InterestPayable"></span>/-</p>
            </div>
        </div>
        <center>
            <div class="col-md">
                <h3>EMI = <span id="EMIvalue"></span>/-</h3>
                <input type="hidden" name="id" value="{{data._id}}">
                <input type="hidden" name="hiddenInterest" id="hiddenInterest">
                <input type="hidden" name="hiddenAmount" id="hiddenAmount">
                <input type="hidden" name="hiddenTenure" id="hiddenTenure">
            </div>
        </center>
        
    </div>
</div>
{% endblock %}
{% block jscript %}
<script >
  $(document).ready( function () {
      $('#myTable').DataTable();
    } );

    function setInterest(a){
        var Interest = 12.5;
        var Months = Number(a);
        if (Months > 5.5 && Months < 12){
            Interest = 8;
        }
        else if (Months > 11.5 && Months < 18){
            Interest = 8.5;
        }
        else if (Months > 17.5 && Months < 24){
            Interest = 9;
        }
        else if (Months > 23.5 && Months < 30){
            Interest = 9.5;
        }
        else if (Months > 29.5 && Months < 36){
            Interest = 10;
        }
        else if (Months > 35.5 && Months < 42){
            Interest = 10.5;
        }
        else if (Months > 41.5 && Months < 48){
            Interest = 11;
        }
        else if (Months > 47.5 && Months < 54){
            Interest = 11.5;
        }
        else if (Months > 53.5 && Months <= 60){
            Interest = 12;
        }
        else{
            Interest = 12.5;
        }
        document.getElementById("InterestRate").innerHTML = Interest;
        return Interest
    }

    function calculate(R){
        document.getElementById("hiddenInterest").value = R;
        document.getElementById("hiddenTenure").value = document.getElementById("TenureRange").value;
        document.getElementById("hiddenAmount").value = document.getElementById("AmountRange").value;

        var EMI = document.getElementById("EMIvalue");
        var P = Number(document.getElementById("AmountRange").value);
        var N = Number(document.getElementById("TenureRange").value);

        // var calval =  (P + eval(P*R%))/N;
        var calval = (eval((eval(P + (eval(P * (R/100)))))/N));
        // var calval = eval((P * R * Math.pow((1+R),N))/Math.pow((1+R),N-1));
        EMI.innerHTML = Math.round(calval);
        document.getElementById("InterestRate").innerHTML = R;
        document.getElementById("AmountPayable").innerHTML = Math.round(calval * N);
        document.getElementById("InterestPayable").innerHTML = Math.round((calval * N)-P);
     }
</script> 
{% endblock jscript %}