{% extends "adminlayout.html" %}
{% block title %}Red Carpet {% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container-fluid">
    <center><h3 style="font-family:serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>Loans</strong></h3></center>
    <table class="table table-responsive table-hover table-striped" id="myTable">
        <thead>
            <tr>
                <th>Slno.</th>
                <th>Loan No.</th>
                <th>Customer Name</th>
                <th>Date</th>
                <th>Salary</th>
                <th>Amount</th>
                <th>Tenure</th>
                <th>Interest</th>
                <th>Status</th>
                <th>Agent ID</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for rows in data %}
            {% if rows.Status != "Approved" %}
            <tr>
                <form action="" method="POST">
                <input type="hidden" name="Id" value="{{rows._id}}">
                <td>{{ loop.index }}</td>
                <td>{{ rows._id }}</td>
                <td>{{ rows.Name }}</td>
                <td>{{ rows.Date }}</td>
                <td>{{ rows.Salary }}</td>
                <td>{{ rows.Amount[rows.Amount | length -1] }}</td>
                <td>{{ rows.Tenure[rows.Tenure | length -1] }}</td>
                <td>{{ rows.Interest[rows.Interest | length -1] }}</td>
                <td>{{ rows.Status }}</td>
                <td>{{ rows.CustomerID }}</td>
                <td><input type="submit" name="Approved" value="Approve" class="btn btn-sm btn-outline-primary mx-0">
                 <button type="button" name="Reject" class="btn btn-sm btn-outline-danger" value="3" data-bs-toggle="modal" data-bs-target="#exampleModal" id="Reject">Reject</button></td>
            </form>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
<hr>
<div class="container-fluid">
  <center><h3 style="font-family:serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><strong>Approved Loans</strong></h3></center>
  <table class="table table-responsive table-hover table-striped" id="approvedTable">
      <thead>
          <tr>
              <th>Slno.</th>
              <th>Loan No.</th>
              <th>Customer Name</th>
              <th>Date</th>
              <th>Salary</th>
              <th>Amount</th>
              <th>Tenure</th>
              <th>Interest</th>
              <th>Status</th>
              <th>Agent ID</th>
              <th>Reviewer</th>
          </tr>
      </thead>
      <tbody>
          {% for rows in data %}
          {% if rows.Status == "Approved" %}
          <tr>
              <form action="" method="POST">
              <input type="hidden" name="Id" value="{{rows._id}}">
              <td>{{ loop.index }}</td>
              <td>{{ rows._id }}</td>
              <td>{{ rows.Name }}</td>
              <td>{{ rows.Date }}</td>
              <td>{{ rows.Salary }}</td>
              <td>{{ rows.Amount }}</td>
              <td>{{ rows.Tenure }}</td>
              <td>{{ rows.Interest }}</td>
              <td>{{ rows.Status }}</td>
              <td>{{ rows.CustomerID }}</td>
              <td>{{ rows.Reviewer }}</td>
          </form>
          </tr>
          {% endif %}
          {% endfor %}
      </tbody>
  </table>
</div>

{% endblock %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Reject Loan</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="" method="POST">
        <div class="modal-body">
          <p><strong>Loan Number : <span id="RejectID" value=""></span></strong></p>
          <input type="hidden" name="LoanID" id="LoanID">
          <label for="" class="form-label">Reject Message :</label>
          <input type="text" name="RejectMessage" id="RejectMsg" class="form-control" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
          <input type="submit" value="Reject" name="Rejected" class="btn-sm btn-danger">
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock modal %}

{% block jscript %}
<script >
    $(document).ready( function () {
        $('#myTable').DataTable();
        $('#approvedTable').DataTable();
      } );

      $(document).on('click', '#Reject', function(){
        var id = $(this).attr("value");
        document.getElementById("RejectID").innerHTML = id;
        document.getElementById("LoanID").value = id;
      });
  </script> 
{% endblock jscript %}

