{% extends "layout.html" %}
{% block title %}Red Carpet {% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<script>
    window.onload = function(){
        var BaseInterest = 12.5;
        document.getElementById("InterestRate").value = BaseInterest;
        document.getElementById("hiddenInterest").value = BaseInterest;
        document.getElementById("hiddenTenure").value = document.getElementById("TenureRange").value;
        document.getElementById("hiddenAmount").value = document.getElementById("AmountRange").value;
        calculate(Number(BaseInterest))
    }
</script>
    <div class="container-fluid">
        <form action="" method="POST">
        <div class="row">
        <div class="col-md border-end border-4 border-primary">
            <center>
                <h3>Customer Details</h3>
            </center>
            <input type="hidden" name="id" value="{{data._id}}">
            <input type="hidden" name="hiddenInterest" id="hiddenInterest">
            <input type="hidden" name="hiddenAmount" id="hiddenAmount">
            <input type="hidden" name="hiddenTenure" id="hiddenTenure">
            <input type="text" name="" value="{{data._id}}" id="">
            <div class="col-md">
                <label for="" class="form-label">Name</label>
                <input type="text" name="Name" id="" value="{{data.Name}}" class="form-control">
            </div>
            <div class="col-md">
                <label for="" class="form-label">Email</label>
                <input type="text" name="Email" id="" value="{{data.Email}}" class="form-control">
            </div>
            <div class="col-md">
                <label for="" class="form-label">Address</label>
                <input type="text" name="Address" id="" value="{{data.Address}}" class="form-control">
            </div>
            <div class="col-md">
                <label for="" class="form-label">Salary</label>
                <input type="text" name="Salary" id="" value="{{data.Salary}}" class="form-control">
            </div>
            <div class="col-md">
                <input type="submit" name="Update" value="Update" class="btn btn-primary">
                <input type="button" value="Back" class="btn btn-Secondary">
            </div>
        </div>
        <div class="col-md">
            <div class="container">
            <center>
                <h3>Calculate EMI</h3>   
            </center>
            <div class="col-md mb-4">
                <label for="" class="form-label">Amount</label>
                <div class="row">
                <input type="range" class="form-range" min="20000" max="200000" step="1000" id="AmountRange" value="110000" name="AmountRange">
                <p id="AmountDisplay"></p>
                </div>
            </div>
            <script>
                var Amountslider = document.getElementById("AmountRange");
                var AmountDisplay = document.getElementById("AmountDisplay");
                

                AmountDisplay.innerHTML = Amountslider.value;

                Amountslider.oninput = function(){
                    // var Interest = document.getElementById("InterestRate");
                    AmountDisplay.innerHTML = Amountslider.value;
                    // calculate(Number(Interest.value));

                    var Months = Number(Tenureslider.value);
                    TenureDisplay.innerHTML = Tenureslider.value;
                    var Interest;
                    if (Months > 5.5 && Months < 12){
                        Interest = 8;
                    }
                    else if (Months > 11.5 && Months < 18){
                        Interest = 8.5;
                    }
                    else if (Months > 17.5 && Months < 24){
                        Interest = 9;
                    }
                    else if (Months > 23.5 && Months < 30){
                        Interest = 9.5;
                    }
                    else if (Months > 29.5 && Months < 36){
                        Interest = 10;
                    }
                    else if (Months > 35.5 && Months < 42){
                        Interest = 10.5;
                    }
                    else if (Months > 41.5 && Months < 48){
                        Interest = 11;
                    }
                    else if (Months > 47.5 && Months < 54){
                        Interest = 11.5;
                    }
                    else if (Months > 53.5 && Months <= 60){
                        Interest = 12;
                    }
                    else{
                        Interest = 12.5;
                    }
                    // document.getElementById("hiddenInterest").value = Interest;
                    // document.getElementById.value("hiddenAmount") = Amountslider.value;
                    calculate(Interest);
                }
            </script>
            
            <div class="col-md mb-4">
                <label for="" class="form-label">Tenure (in months)</label>
                <div class="row">
                <input type="range" class="form-range" min="6" max="60" step="1" id="TenureRange" value="24" name="TenureRange">
                <p id="TenureDisplay"></p>
                </div>
            </div>
            <script>
                var Tenureslider = document.getElementById("TenureRange");
                var TenureDisplay = document.getElementById("TenureDisplay");

                TenureDisplay.innerHTML = Tenureslider.value;
                
                Tenureslider.oninput = function(){
                    var Months = Number(Tenureslider.value);
                    TenureDisplay.innerHTML = Tenureslider.value;
                    var Interest;
                    if (Months > 5.5 && Months < 12){
                        Interest = 8;
                    }
                    else if (Months > 11.5 && Months < 18){
                        Interest = 8.5;
                    }
                    else if (Months > 17.5 && Months < 24){
                        Interest = 9;
                    }
                    else if (Months > 23.5 && Months < 30){
                        Interest = 9.5;
                    }
                    else if (Months > 29.5 && Months < 36){
                        Interest = 10;
                    }
                    else if (Months > 35.5 && Months < 42){
                        Interest = 10.5;
                    }
                    else if (Months > 41.5 && Months < 48){
                        Interest = 11;
                    }
                    else if (Months > 47.5 && Months < 54){
                        Interest = 11.5;
                    }
                    else if (Months > 53.5 && Months <= 60){
                        Interest = 12;
                    }
                    else{
                        Interest = 12.5;
                    }
                    // document.getElementById("hiddenInterest").value = Interest;
                    // document.getElementById.value("hiddenTenure") = Tenureslider.value;
                    calculate(Interest);
                }
            </script>
            <div class="row">
                <div class="col">
                    <p>Interest Rate : <span id="InterestRate" name="InterestRate" value=12.5></span>%</p>
                </div>
                <div class="col">
                    <p>Total Amount Payable : <span id="AmountPayable"></span>/-</p>
                </div>
                <div class="col">
                    <p>Total Interest Payable : <span id="InterestPayable"></span>/-</p>
                </div>
            </div>
            <center>
                <div class="col-md">
                    <h3>EMI = <span id="EMIvalue"></span>/-</h3>
                    <input type="submit" name="Apply" value="Apply" class="btn btn-sm btn-success">
                </div>
            </center>
            
            <!-- Calculate -->
<script>
    function calculate(R){
        document.getElementById("hiddenInterest").value = R;
        document.getElementById("hiddenTenure").value = document.getElementById("TenureRange").value;
        document.getElementById("hiddenAmount").value = document.getElementById("AmountRange").value;

        var EMI = document.getElementById("EMIvalue");
        var P = Number(document.getElementById("AmountRange").value);
        var N = Number(document.getElementById("TenureRange").value);

        // var calval =  (P + eval(P*R%))/N;
        var calval = (eval((eval(P + (eval(P * (R/100)))))/N));
        // var calval = eval((P * R * Math.pow((1+R),N))/Math.pow((1+R),N-1));
        EMI.innerHTML = Math.round(calval);
        document.getElementById("InterestRate").innerHTML = R;
        document.getElementById("AmountPayable").innerHTML = Math.round(calval * N);
        document.getElementById("InterestPayable").innerHTML = Math.round((calval * N)-P);
     }
     
</script>
        </div>
    </div>
    </div>
    </form>
    </div>
{% endblock %}
