{% extends "layout.html" %}
{% block title %}Red Carpet {% endblock %}

{% block body %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
    <div class="container-fluid border mb-4 py-3">
        <center><h3 style="font-family: serif;"><strong>Clients</strong></h3></center>
        <table class="table table-responsive table-hover table-striped" id="myTable">
            <thead>
                <tr>
                    <th scope="col">Sl.no</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                </tr>
            </thead>
            <tbody>
                {% for rows in data %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td><a href="/agent/AgentViewCustomer/{{rows._id}}">{{ rows.Name }}</a></td>
                    <td>{{ rows.Email }}</td>
                    <td>{{ rows.Address }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container-fluid border mb-4 py-3">
        <center><h3 style="font-family: serif;"><strong>Loans</strong></h3></center>
        <table class="table table-responsive table-hover table-striped" id="loanTable">
            <thead>
                <tr>
                    <th scope="col">Loan Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Loan Amount</th>
                    <th scope="col">Interest</th>
                    <th scope="col">Tenure</th>
                    <th scope="col">Status</th>
                    <th scope="col">Reject Message</th>
                </tr>
            </thead>
            <tbody>
                {% for rows in data2 %}
                {% if rows.Status != "Approved" %}
                <tr>
                    <td><a href="/agent/AgentViewLoan/{{rows._id}}">{{ rows._id }}</a></td>
                    <td>{{ rows.Name }}</td>
                    <td>{{ rows.Date }}</td>
                    <td>{{ rows.Salary }}</td>
                    <td>{{ rows.Amount[rows.Amount | length - 1] }}</td>
                    <td>{{ rows.Interest[rows.Interest | length - 1] }}</td>
                    <td>{{ rows.Tenure[rows.Tenure | length - 1] }}</td>
                    <td>{{ rows.Status }}</td>
                    <td>{{ rows.RejectMessage }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="container-fluid border mb-4 py-3">
        <center><h3 style="font-family: serif;"><strong>Approved Loans</strong></h3></center>
        <table class="table table-responsive table-hover table-striped" id="approveTable">
            <thead>
                <tr>
                    <th scope="col">Loan Number</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Loan Amount</th>
                    <th scope="col">Interest</th>
                    <th scope="col">Tenure</th>
                    <th scope="col">Status</th>
                    <th scope="col">Reject Message</th>
                </tr>
            </thead>
            <tbody>
                {% for rows in data2 %}
                {% if rows.Status == "Approved" %}
                <tr>
                    <td>{{ rows._id }}</td>
                    <td>{{ rows.Name }}</td>
                    <td>{{ rows.Date }}</td>
                    <td>{{ rows.Salary }}</td>
                    <td>{{ rows.Amount }}</td>
                    <td>{{ rows.Interest }}</td>
                    <td>{{ rows.Tenure }}</td>
                    <td>{{ rows.Status }}</td>
                    <td>{{ rows.RejectMessage }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block jscript %}
<script >
  $(document).ready( function () {
      $('#myTable').DataTable();
      $('#loanTable').DataTable();
      $('#approveTable').DataTable();
    } );
</script> 
{% endblock jscript %}